* {
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
}

section {
  padding: 15px;
  border: 1px dotted black;
  background-color: #d1f9eb;
  width: 450px;
  height: 350px;
  box-shadow: 0 0 2em 1em rgb(169, 169, 169);
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: center;
}
form {
  display: inline-flex;
}
